.todo-title {
  font-size: 48px;
  font-weight: 700;
  font-style: italic;
  background-color: #fff;
  background-size: 100%;
  background-image: linear-gradient(to right, #11998e, #38ef7d);
  background-clip: text;
  background-repeat: repeat;
  text-align: center;
  text-transform: uppercase;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.todo-lists {
  display: flex;
  justify-content: space-around;
}
