<section class="todo-tasks_wrapper">
  <h2 class="todo-tasks-title">To-do tasks</h2>
  <ul class="todo-tasks-list">
    @for (task of todoTasks(); track $index) {
    <li class="todo-task">
      {{ task }}
      <span class="todo-task_buttons">
        <button class="todo-task_button todo-task_button-complete">Complete</button>
        <button class="todo-task_button todo-task_button-delete" (click)="onDeleteButtonClick($index)">
          Delete
        </button>
      </span>
    </li>
    }
  </ul>
</section>