@if(todoTasks().length > 0) {
<section class="todo-tasks_wrapper">
  <h2 class="todo-tasks-title">
    Defined
  </h2>
  <ul class="todo-tasks-list">
    @for (task of todoTasks(); track $index) {
    <li class="todo-task">
      {{ task }}
      <span class="todo-task_buttons">
        <button class="todo-task_button todo-task_button-complete">
          <mat-icon aria-hidden="false" aria-label="Complete task icon" fontIcon="task_alt"></mat-icon>
          Complete
        </button>
        <button class="todo-task_button todo-task_button-in-progress">
          <mat-icon aria-hidden="false" aria-label="In progress task icon" fontIcon="query_builder"></mat-icon>
          In progress
        </button>
        <button class="todo-task_button todo-task_button-delete" (click)="onDeleteButtonClick($index, 'todo')">
          <mat-icon aria-hidden="false" aria-label="Delete task icon" fontIcon="delete_forever"></mat-icon>
          Remove
        </button>
      </span>
    </li>
    }
  </ul>
</section>
}

@if(inProgressTasks().length > 0) {
<section class="todo-tasks_wrapper">
  <h2 class="todo-tasks-title">
    In progress
  </h2>
  <ul class="todo-tasks-list">
    @for (task of inProgressTasks(); track $index) {
    <li class="todo-task">
      {{ task }}
      <span class="todo-task_buttons">
        <button class="todo-task_button todo-task_button-complete">
          <mat-icon aria-hidden="false" aria-label="Complete task icon" fontIcon="task_alt"></mat-icon>
          Complete
        </button>
        <button class="todo-task_button todo-task_button-delete" (click)="onDeleteButtonClick($index, 'inprogress')">
          <mat-icon aria-hidden="false" aria-label="Delete task icon" fontIcon="delete_forever"></mat-icon>
          Remove
        </button>
      </span>
    </li>
    }
  </ul>
</section>
}

@if(completedTasks().length > 0) {
<section class="todo-tasks_wrapper">
  <h2 class="todo-tasks-title">
    Completed
  </h2>
  <ul class="todo-tasks-list">
    @for (task of completedTasks(); track $index) {
    <li class="todo-task">
      {{ task }}
      <span class="todo-task_buttons">
        <button class="todo-task_button todo-task_button-delete" (click)="onDeleteButtonClick($index, 'completed')">
          <mat-icon aria-hidden="false" aria-label="Delete task icon" fontIcon="delete_forever"></mat-icon>
          Remove
        </button>
      </span>
    </li>
    }
  </ul>
</section>
}