/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Open Sans", serif;
  color: #fff;
}

body {
  background-color: #100f15;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mr-8 {
  margin-right: 8px;
}
